<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to 'Home', root_path %></li>
    <% if can? :users_ads, Ad %>
      <li><%= link_to 'My ads', my_ads_path %></li>
    <% end %>
    <% if can? :manage, :AdminSection %>
      <li><%= link_to 'Admin section', admin_path %></li>
      <li><%= link_to 'Ad types', ad_types_path %></li>
      <li><%= link_to 'Users', users_path %></li>
    <% end %>
  </ul>
</div>