<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", my_ads_path  %></li>
      <% if can? :create, Ad %>
        <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_ad_path %></li>
      <% end %>
    </ul>
  </div>          
  <% if can? :read, Ad %>
    <div class="content">
      <h2 class="title"><%= t("web-app-theme.all", :default => "My")  %> Ads</h2>
      <div class="inner">
        <table class="table">
          <tr>
            <%= content_tag :th, sort_link(@q, :id), :class => "first" %>
            <%= content_tag :th, sort_link(@q, :title) %>
            <%= content_tag :th, sort_link(@q, :price) %>
            <%= content_tag :th, sort_link(@q, :ad_type_id) %>
            <%= content_tag :th, sort_link(@q, :status) %>
            <%= content_tag :th, sort_link(@q, :created_at) %>
            <th class="last">&nbsp;</th>
          </tr>
          <% @ads.each do |ad| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= ad.id %></td>
            <td><%= link_to ad.title, ad_path(ad) %></td>
            <td><%= number_to_currency(ad.price, :unit => "$", :precision => 0) %></td>
            <td><%= ad.ad_type.name %></td>
            <td><%= ad.status %></td>
            <td><%= time_ago_in_words(ad.created_at)+ " ago" %></td>
            <td class="last">
              <%= link_to "#{t("web-app-theme.show", :default => "Show")}", ad_path(ad) %>
              <% if can? :edit, ad %>
                | <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_ad_path(ad) %>
              <% end %>
              <% if can? :destroy, ad %>
                | <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", ad_path(ad), :method => :delete,
                  :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
              <% end %>
              <% if ad.draft? %>
                | <%= link_to "#{t("web-app-theme.edit", :default => "Moderating")}", ads_moderating_path(ad) %>
              <% end %>
              <% if (can? :make_draft, ad) && ad.archive? %>
                | <%= link_to "#{t("web-app-theme.edit", :default => "Move in drafts")}", ads_make_draft_path(ad) %>
              <% end %>
              <% if (can? :edit_rejected_ad, ad) && ad.rejected? %>
                | <%= link_to "#{t("web-app-theme.edit", :default => "Move in drafts")}", ads_edit_rejected_path(ad) %>
              <% end %>
            </td>
          </tr>          
          <% end -%>
        </table>
        <div class="actions-bar wat-cf">
          <div class="actions">
          </div>
          
          <%= will_paginate @ads  %>
          
        </div>
      </div>
    </div>
  <% end %>
</div>

<% content_for :sidebar, render(:partial => 'search') -%>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
