<h1>ADS</h1>
<div class="block" id="block-signup">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <div class="content">
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
      <ul>
        <li>
          <%= value %>
        </li>
      </ul>
  </div>
<% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
            html: { method: :put, :class => "form" }) do |f| %>

    <%= devise_error_messages! %>

    <div class="group">
      <%= f.label :email, :class => "label" %><br />
      <%= f.email_field :email, autofocus: true, :class => "text_field" %>
    </div>

    <div class="group">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <span class="description">Currently waiting confirmation for: <%= resource.unconfirmed_email %></span>
      <% end %>
    </div>

    <div class="group">
      <%= f.label :password, :class => "label" %>
      <%= f.password_field :password, autocomplete: "off", :class => "text_field" %>
      <span class="description">leave blank if you don't want to change it</span>
    </div>

    <div class="group">
      <%= f.label :password_confirmation, :class => "label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "text_field" %>
    </div>

    <div class="group">
      <%= f.label :current_password, :class => "label" %>
      <%= f.password_field :current_password, autocomplete: "off", :class => "text_field" %>
      <span class="description">we need your current password to confirm your changes</span>
    </div>

    <div><%= f.submit "Update" %></div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, 
              method: :delete %></p>

  <%= link_to "Back", :back %>
  </div>
</div>
